<html>
  <head>
    <title>RucketServer | Fans</title>
    <meta http-equiv="refresh" content="300">
  </head>
  <body>
    <a href="/status">STATUS</a> | <a href="/lights">LIGHTS</a> | <a href="/control">CONTROL</a>
    <br>
    <% RucketServer.rucket.fans.each do |name, fan| %>
      <table border="1">
        <tr>
          <td>Name<td>
          <td><%= name %></td>
        </tr>
        <tr>
          <td>Pin</td>
          <td><%= fan.pin.pin %></td>
        </tr>
        <tr>
          <td>Status</td>
          <td><%= (fan.on? ? "On" : "Off") %></td>
        </tr>
        <tr>
          <td><%= "<a href=\"/fans/#{name}/toggle\">Toggle</a>" %></td>
        </tr>
      </table>
    <% end %>
  </body>
</html>