<html>
  <head>
    <title>RucketServer | Fans</title>
    <meta http-equiv="refresh" content="300">
  </head>
  <body>
    <a href="/status">STATUS</a> | <a href="/lights">LIGHTS</a> | <a href="/control">CONTROL</a>
    <br>
    <table border="1">
      <tr>
        <% Rucket.fans.each do |name, fan| %>
          <td><b>Name</b></td>
          <td><%= name %></td>
          <td></td>
        <% end %>
      </tr>
      <tr>
        <% Rucket.fans.each do |name, fan| %>
          <td><b>Pin</b></td>
          <td><%= fan.pin.pin %></td>
          <td></td>
        <% end %>
      </tr>
      <tr>
        <% Rucket.fans.each do |name, fan| %>
          <td><b>Status</b></td>
          <td><%= (fan.on? ? "On" : "Off") %></td>
          <td></td>
        <% end %>
      </tr>
      <tr>
        <% Rucket.fans.each do |name, fan| %>
          <td colspan="2"><center><%= "<a href=\"/fans/#{name}/toggle\">Toggle</a>" %></center></td>
          <td></td>
        <% end %>
      </tr>
    </table>
  </body>
</html>