<html>
  <head>
    <title>RucketServer | Lights</title>
    <meta http-equiv="refresh" content="300">
  </head>
  <body>
    <a href="/status">STATUS</a> | <a href="/fans">FANS</a> | <a href="/control">CONTROL</a>
    <br>
    <% RucketServer.rucket.lights.each do |name, light| %>
      <table>
        <tr>
          <td>Name<td>
          <td><%= name %></td>
        </tr>
        <tr>
          <td>Pin</td>
          <td><%= light.pin.pin %></td>
        </tr>
        <tr>
          <td>Status</td>
          <td><%= (light.on? ? "On" : "Off") %></td>
        </tr>
        <tr>
          <%= "<a href=\"/lights/#{name}/toggle\">Toggle</a>" %>
        </tr>
      </table>
    <% end %>
  </body>
</html>