<html>
  <head>
    <title>RucketServer | Status</title>
    <meta http-equiv="refresh" content="300">
    <script src="http://www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
  </head>
  <body>
    <a href="/fans">FANS</a> | <a href="/lights">LIGHTS</a> | <a href="/control">CONTROL</a>
    <br>
    <%= line_chart [
          {name: "Temperature", data: Rucket[:dht].temps},
          {name: "Humidity", data: Rucket[:dht].humids},
     ], **DHT11Reader::CHART_OPTIONS %>
    <p>TEMP: <%= Rucket[:dht].temp %>F   HUMIDITY: <%= Rucket[:dht].humidity %>%  </p>
    <p>TIME: <%= Time.now %></p>
  </body>
</html>